[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-webpack-loader = "*"

[dev-packages]
autopep8 = "*"
selenium = "*"

[requires]
python_version = "3.9"
